<template name="heartLesson">
	<a-light type="directional" intensity="0.5" position="1 1 1"></a-light>
	<a-light type="directional" intensity="0.5" position="-1 1 1"></a-light>
	<a-light type="directional" intensity="0.5" position="0 -5 1"></a-light>

	<a-entity class="curvedBackgroundContainer" position="0 1.5 0">
		<!-- Background -->
		<a-cylinder radius="4.1" height="4" side="back" open-ended="true" color="#FFF" opacity="0.5"></a-cylinder>
		
		<!-- 
			Other items will be added here dynamically, once the page loads.
			See heartLesson.js for more info
		-->
	</a-entity>
	
	<a-entity position="0 1 -2">
		<a-entity class="heartContainer" scale="0.012 0.012 0.012"></a-entity>
	</a-entity>
	
	<!-- HUD (this object is moved as a child of the camera after the scene is rendered) -->
	<a-entity class="hud" scale="0.1 0.1 0.1" position="0 1.35 -0.6" rotation="-10 0 0">
		<a-entity class="organName" text="text:" material="color: black" width="1" height="0.5"></a-entity>
	</a-entity>
</template>