<template name="menuSelection">
	<a-root class="menu" position="0 0 -2">
		<a-plane class="globalActions" color="red" width="1" height="0.5" position="-1.5 2.25" >
			<a-sphere sync="globalActions1" class="item" color="yellow" radius="0.1" position="-0.2 0 0.1"></a-sphere>
			<a-sphere sync="globalActions2" class="item" color="yellow" radius="0.1" position="0.2 0 0.1"></a-sphere>
		</a-plane>
		<a-plane class="contextualActions" color="purple" width="3" height="0.5" position="0.5 2.25">
			<a-sphere sync="contextualActions1" class="item" color="yellow" radius="0.1" position="-1.2 0 0.1"></a-sphere>
			<a-sphere sync="contextualActions2" class="item" color="yellow" radius="0.1" position="-0.8 0 0.1"></a-sphere>
			<a-sphere sync="contextualActions3" class="item" color="yellow" radius="0.1" position="-0.4 0 0.1"></a-sphere>
			<a-sphere sync="contextualActions4" class="item" color="yellow" radius="0.1" position="0 0 0.1"></a-sphere>
			<a-sphere sync="contextualActions5" class="item" color="yellow" radius="0.1" position="0.4 0 0.1"></a-sphere>
			<a-sphere sync="contextualActions6" class="item" color="yellow" radius="0.1" position="0.8 0 0.1"></a-sphere>
			<a-sphere sync="contextualActions7" class="item" color="yellow" radius="0.1" position="1.2 0 0.1"></a-sphere>
		</a-plane>
		<a-plane class="content" color="blue" width="4" height="2" position="0 1">
			<a-sphere sync="content1" class="item" color="yellow" radius="0.2" position="-1.6 0.5 0.2"></a-sphere>
			<a-sphere sync="content2" class="item" color="yellow" radius="0.2" position="-0.8 0.5 0.2"></a-sphere>
			<a-sphere sync="content3" class="item" color="yellow" radius="0.2" position="-0 0.5 0.2"></a-sphere>
			<a-sphere sync="content4" class="item" color="yellow" radius="0.2" position="0.8 0.5 0.2"></a-sphere>
			<a-sphere sync="content5" class="item" color="yellow" radius="0.2" position="1.6 0.5 0.2"></a-sphere>
			<a-sphere sync="content6" class="item" color="yellow" radius="0.2" position="-1.6 -0.5 0.2"></a-sphere>
			<a-sphere sync="content7" class="item" color="yellow" radius="0.2" position="-0.8 -0.5 0.2"></a-sphere>
			<a-sphere sync="content8" class="item" color="yellow" radius="0.2" position="-0 -0.5 0.2"></a-sphere>
			<a-sphere sync="content9" class="item" color="yellow" radius="0.2" position="0.8 -0.5 0.2"></a-sphere>
			<a-sphere sync="content10" class="item" color="yellow" radius="0.2" position="1.6 -0.5 0.2"></a-sphere>
		</a-plane>
	</a-root>
</template>