<template name="neckLesson">
	<!--
		The skin model (and all other 3d Part models) are based off a human that is ~1000m tall.
		So we need to counteract this by scaling down the models
	-->
	<a-entity position="0 1.8 -1.2" scale="0.001 0.001 0.001">
		<!-- Neck muscles -->
		<a-entity>
			<a-model src="models\neck muscles\2097.dae"></a-model>
			<a-model src="models\neck muscles\2098.dae"></a-model>
			<a-model src="models\neck muscles\2099.dae"></a-model>
			<a-model src="models\neck muscles\2100.dae"></a-model>
			<a-model src="models\neck muscles\2101.dae"></a-model>
			<a-model src="models\neck muscles\2102.dae"></a-model>
			<a-model src="models\neck muscles\2103.dae"></a-model>
			<a-model src="models\neck muscles\2104.dae"></a-model>
			<a-model src="models\neck muscles\2115.dae"></a-model>
			<a-model src="models\neck muscles\2116.dae"></a-model>
			<a-model src="models\neck muscles\2117.dae"></a-model>
			<a-model src="models\neck muscles\2118.dae"></a-model>
			<a-model src="models\neck muscles\2119.dae"></a-model>
			<a-model src="models\neck muscles\2120.dae"></a-model>
			<a-model src="models\neck muscles\2129.dae"></a-model>
			<a-model src="models\neck muscles\2130.dae"></a-model>
			<a-model src="models\neck muscles\2584.dae"></a-model>
			<a-model src="models\neck muscles\2585.dae"></a-model>
			<a-model src="models\neck muscles\2622.dae"></a-model>
			<a-model src="models\neck muscles\2623.dae"></a-model>
			<a-model src="models\neck muscles\2624.dae"></a-model>
			<a-model src="models\neck muscles\2625.dae"></a-model>
			<a-model src="models\neck muscles\2632.dae"></a-model>
			<a-model src="models\neck muscles\2633.dae"></a-model>
			<a-model src="models\neck muscles\2634.dae"></a-model>
			<a-model src="models\neck muscles\2635.dae"></a-model>
			<a-model src="models\neck muscles\2727.dae"></a-model>
		</a-entity>
		
		<!-- Skin -->
		<a-entity position="0 -625 0">
			<a-model src="models\skin\Skin.dae"></a-model>
		</a-entity>
	</a-entity>
</template>