<template name="operatingTable">
	<a-model scale="0.02 0.01 0.02" position="0 0 -1" src="models/operatingTable.dae"></a-model>
	<a-root position="0 0.8 -1">
		<a-sphere class="source" radius="0.1"></a-sphere>
		<a-root class="contextMenu">
			<a-sphere class="item" color="yellow" radius="0.03" position="0.2 0.1 0"></a-sphere>
			<a-sphere class="item" color="yellow" radius="0.03" position="0 0.25 0"></a-sphere>
			<a-sphere class="item" color="yellow" radius="0.03" position="-0.2 0.1 0"></a-sphere>
		</a-root>
	</a-root>
</template>