<template name="pitchPresent">
	{{> pitchScene}}
</template>

<template name="pitchWatch1stPerson">
	{{> pitchScene}}
</template>

<template name="pitchScene">
	<a-root class="slideShow" position="0 3 -5" scale="4 4 4">
		<a-image class="previous" src="images/pitch/leftArrow.png" rotation="0 45 0" width="0.2" height="0.2" position="-3 1.6 -1"></a-image>
		<a-image class="next" src="images/pitch/leftArrow.png" rotation="0 -45 180" width="0.2" height="0.2" position="3 1.6 -1"></a-image>
		<a-curvedimage sync="slides" class="slides" position="0 0.45 2.85" radius="5.7" theta-length="72" height="3.02" rotation="0 36 0" scale="0.8 0.8 0.8"></a-curvedimage>
	</a-root>
	
	<a-entity position="0 0 -12" class="objectInteractionContainer">
		{{> views}}
		<a-animation begin="forwardAnimation"
					attribute="rotation"
					to="0 -90 0"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="forwardAnimation"
					attribute="position"
					to="-0.1 0 0"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="backwardAnimation"
					attribute="rotation"
					to="0 0 0"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="backwardAnimation"
					attribute="position"
					to="0 0 -12"
					dur="3000"
					fill="forwards"></a-animation>
	</a-entity>
	
	<a-entity position="0 0 -12" class="menuSelectionContainer">
		{{> menuSelection}}
		<a-animation begin="forwardAnimation"
					attribute="rotation"
					to="0 90 0"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="forwardAnimation"
					attribute="position"
					to="-0.1 0 0"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="backwardAnimation"
					attribute="rotation"
					to="0 0 0"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="backwardAnimation"
					attribute="position"
					to="0 0 -12"
					dur="3000"
					fill="forwards"></a-animation>
	</a-entity>
	
	<a-entity class="audioContainer" scale="0.2 0.2 0.2" position="-0 0 -13">
		<a-entity sync="handReaching" class="audioClip" geometry="primitive: box" position="-6 0 0"
			material="src: url(images/pitch/hand reaching.jpg)"
			sound="src: audio/pitch/reach out and touch it.mp3; on: null"></a-entity>

		<a-entity sync="crosshairs" class="audioClip" geometry="primitive: box" position="-2 0 0"
			material="src: url(images/pitch/crosshair.png)"
			sound="src: audio/pitch/crosshairs.mp3; on: null"></a-entity>
		
		<a-entity sync="steeringWheel" class="audioClip" geometry="primitive: box" position="2 0 0" 
			material="src: url(images/pitch/steering wheel.png)"
			sound="src: audio/pitch/more motor control.mp3; on: null"></a-entity>

		<a-entity sync="thumbsUp" class="audioClip" geometry="primitive: box" position="6 0 0" 
			material="src: url(images/pitch/thumbs-up.jpg)"
			sound="src: audio/pitch/supplement current cadaver lab.mp3; on: null"></a-entity>

		<a-animation begin="forwardAnimation"
					attribute="position"
					to="-0.1 1.3 -2"
					dur="3000"
					fill="forwards"></a-animation>
		<a-animation begin="backwardAnimation"
					attribute="position"
					to="0 0 -13"
					dur="3000"
					fill="forwards"></a-animation>
	</a-entity>
</template>