<template name="pitchPresent">
	{{> pitchScene}}
</template>

<template name="pitchWatch1stPerson">
	{{> pitchScene}}
</template>

<template name="pitchScene">
	<a-root class="slideShow" position="0 1.6 -1.2">
		<a-image class="previous" src="images/pitch/leftArrow.png" width="0.2" height="0.2" position="-1.1 0 0"></a-image>
		<a-image class="next" src="images/pitch/leftArrow.png" rotation="0 0 180" width="0.2" height="0.2" position="1.1 0 0"></a-image>
		<a-image sync="slides" class="slides" width="1.9" height="1.2"></a-image>
	</a-root>
</template>